<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whyshoudi.translation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/haha"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/haha"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nameActivity"
            android:label="@string/category_colors"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".familyActivity"
            android:label="@string/category_family"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".numberActivity"
            android:label="@string/category_numbers"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".phrasesActivity"
            android:label="@string/category_phrases"
            android:parentActivityName=".MainActivity"/>

    </application>

</manifest>